/****** Object:  Database [Interview]    Script Date: 16/06/2025 18:14:34 ******/
CREATE DATABASE [Interview]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  User [apiuser]    Script Date: 16/06/2025 18:14:34 ******/
CREATE USER [apiuser] WITH PASSWORD=N'c4culw+Lic8Q/UNVrQrKGtyzs4mi2ptSibBuRDmB7N8=', DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'apiuser'
GO
/****** Object:  Table [dbo].[Advogados]    Script Date: 16/06/2025 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advogados](
	[ID] [int] NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Sobrenome] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Departamento] [nvarchar](50) NOT NULL,
	[Escalao] [nvarchar](50) NOT NULL,
	[Cidade] [nvarchar](50) NOT NULL,
	[Aniversario] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horas]    Script Date: 16/06/2025 18:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horas](
	[ID] [int] NULL,
	[Caso] [nchar](10) NULL,
	[ID_Advogado] [int] NULL,
	[Minutos_Registados] [int] NULL,
	[Departamento] [nvarchar](50) NULL,
	[Data] [date] NULL
) ON [PRIMARY]
GO
